:root {
	--main_green: #2D583D;
	--main_dark: #1a1b1c;
	--main_red: #E31E35;
	--swiper-theme-color: var(--main_green);
  --header-height: 18.15vh;
}

@font-face {
	font-family: 'Thonburi';
	src: url('fonts/Thonburi.eot');
	src: local('☺'), url('../fonts/Thonburi.woff') format('woff'), url('../fonts/Thonburi.ttf') format('truetype'), url('../fonts/Thonburi.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.heading {
    font-family: 'Thonburi';
    font-size: 32px;
    font-weight: 500;
}

*,
*:before,
*:after {
  	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

h1, h2 {
	margin: 0;
	padding: 0;
}

ul,
ol,
li {
	list-style: none;
	padding: 0;
	margin: 0;
}

/* для body, height: 100%; Обязательно должно быть указано, чтобы всё правильно работало */
html,
body {
  scroll-behavior: smooth;
	height: 100%;
	margin: 0;
  	padding: 0;
	font-family: 'Thonburi', Arial, Helvetica, sans-serif;
	background-color: #fff;
}

/* min-height: 100vh; отвечает за высоту экрана, без него не окроется полный экран. */
.wrapper {
	max-width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.return {
  z-index: 10;
  position: fixed;
  width: 5vw;
  right: 1.1vw;
  bottom: 5vw;
  display: none;
}

.return img {
  width: 4vw;
  opacity: 0.5;
  transition: opacity 300ms ease-in-out, filter 300ms ease-in-out;
}

.return_show {
  display: block;
}

.return img:hover,
.return img:active,
.return img:focus {
  opacity: 1;
  filter: brightness(2);
}

.section__item {
	min-height: 100vh;
	background-color: #fff;
	display: flex;
}

.devider {
	align-items: center;
	min-height: 42.5vh;
	background-color: var(--main_green);
}

.action__block {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 5;
  padding: 7vh 5vh 7vh 5vh;
  bottom: 100vh;
  width: 100%;
  align-items: center;
  background-color: var(--main_green);
	height: calc(100vh - var(--header-height));
  transition: bottom 300ms ease-in-out;
}

.action__block._active {
  bottom: 0vh;
}

.action__wrapper {
  display: flex;
  width:100%;
  flex-direction: column;
  align-items: center;
  justify-content: left;
}

.action__heading {
  display: flex;
  width: 100%;
  height: 14vh;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.action__block h1 {
  color: var(--main_red);
  font-size: 8.5vh;
  padding-left: 19vh;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-image: url(../img/gift_red.svg);
}

.gift__list li {
  color: #fff;
  font-size: 5.5vh;
  padding-left: 11vh;
  margin-top: 4.5vh;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-image: url(../img/check-square_white.svg);
}

.item__body {
  position: relative;
	flex: 1 1 auto;
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
  justify-content: space-between;
}

.section__title {
	font-size: 2vw;
	color: orange;
}

.header {
  z-index: 7;
	display: flex;
	justify-content: left;
	background-color: #fff;
	width: 100%;
	height: var(--header-height);
}

.menu_top .social img {
  width: 3vw;
  filter: brightness(0.3);
  transition: filter 300ms ease-in-out, width 300ms ease-in-out;
}

.menu_top .social img:hover,
.menu_top .social img:active,
.menu_top .social img:focus {
  width: 3.5vw;
}

.menu_top .social img:active,
.menu_top .social img:focus {
  filter: brightness(0.9);
}

.logo__block {
	display: flex;
	justify-content: flex-end;
	width: 21.5vw;
	padding: 0.5vw 2.2vw 0.5vw 0;
}

.logo_devider {
  width: 16vw;
  height: 13.5vw;
  justify-content: center;
  padding: 0;
  background-color: #fff;
  padding: 2.5vw;
}

.menu__block {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
}

.menu__sub-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50%;
	padding: 0 7.8vw 0 3.9vw;
}

.menu_down {
	background-color: var(--main_green);
}

.menu_down a:hover,
.menu_down a:active,
.menu_down a:focus,
.menu_top a:hover,
.menu_top a:active,
.menu_top a:focus {
  text-decoration: underline;
}

.menu__link {
	font-size: 2.1vw;
	line-height: 1vw;
	color: #fff;
}

.contacts_link {
  color: var(--main_dark);
}

.action {
	width: 13.2vw;
	height: 3.1vw;
  cursor: pointer;
	text-align: center;
	padding-top: 0.7vw;
	border-radius: 1vw;
	background-color: var(--main_red);
}

.action:hover {
  text-decoration: underline;
}

.phone__link {
  display: block;
	font-size: 1.25vw;
  line-height: 1.8vw;
	color: var(--main_dark);
	background-repeat: no-repeat;
	padding: 0.6vw 0 1vw 3vw;
	background-size: 2vw;
	background-image: url(../img/mobile-alt.svg);
}

.phone__link:hover,
.phone__link:active,
.phone__link:focus {
  text-decoration: underline  ;
}

.header__mobile {
  display: none;
}

.mobile-menu__container {
  display: none;
}

.section__item-card {
  padding: 5vw 8vw 5vw 8vw;
}

.section-dark {
	background-color: var(--main_dark);
}

.section-white {
  background-color: #fff;
}


.section-dark .section__description {
  color: #fff;
}

.section-white .section__description {
  color: var(--main_dark);
}



.section__description {
  font-size: 1.5vw;
  align-self: flex-start;
}

.devider_text {
  padding-left: 14vw;
  align-self: center;
  color: #fff;
  text-shadow: var(--main_dark) 0 0 5px;
}

.section__heading {
  align-self: center;
	font-size: 4.3vw;
}

.section-dark .section__heading {
  letter-spacing: 0.3vw;
  color: #fff;
}

.section-white .section__heading {
  letter-spacing: 0.3vw;
  color: var(--main_dark);
}

.card__block {
  display: flex;
  justify-content: space-between;
}

.card__block :not(:last-child) {
  margin-right: 5vw;
}

.card {
  position: relative;
  display: flex;
  justify-content: center;
  /* width: 24.5vw; */
  height: 28.5vw;
  border-radius: 1vw;
  overflow: hidden;
}

.card_dark {
  background-color: var(--main_dark);
}

.card-white {
  background-color: #fff;
}

.card img {
  text-align: center;
  height: 100%;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #000;
}

.contact__block {
  width: 35vw;
  color: #fff;
}

.contact__block :not(:last-child) {
  padding-bottom: 2.5vw;
}

.contact__block :not(:first-child) {
  font-size: 2vw;
  padding-bottom: 2.5vw;
}

.contact__block .phone__link {
  color: #fff;
  background-image: url(../img/mobile-alt_Wt.svg);
}

.contact__block h3 {
  letter-spacing: 0.1vw;
  font-size: 2vw;
  text-align: center;
  color: var(--main_green);
}

.vk__block {
  display: flex;
  justify-content: left;
  height: 7vw;
}

.vk__block img {
  filter: brightness(1.7);
}

.vk__block span {
  color: #fff;
  width: 24vw;
}

.vk__block span:hover {
  text-decoration: underline;
}

.social {
  background-image: none;
}



/* ------------ slider ------------- */

.image-slider {
	overflow: hidden;
	background-color: var(--main_dark);
}

.swiper-wrapper {
  text-align: center;
	height: 92vh;
}

.image-frame img {
	height: 100%;
}

.swiper-button-prev,
.swiper-button-next {
	top: 58%;
}

.swiper-pagination-fraction {
  z-index: 3;
	color: var(--main_dark);
	font-size: 1.2vw;
	bottom: 23px;
}

/* ------------ mobile 1024 -------------- */

@media (max-width: 1024px) {

  .wrapper {
    flex-wrap: nowrap;
  }

  .header__mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    padding: 0 4vw;
    background-color: var(--main_green);

  }

  .logo__mobile {
    background-color: #fff;
    padding: 1.5vw;
  }

  .logo__mobile img {
    height: 8vw;
    width: 8vw;

  }

  .header {
    display: none;
  }

  .mobile-menu__container {
    display: block;
    position: relative;
    height: 50vh;
    padding-top: 3vh;
    background-color: var(--main_dark);
  }

  .mobile-menu__list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

  .mobile-menu__list li {
    margin-top: 1vh;
  }

  .mobile-menu__list a {
    color: #fff;
    font-size: 4vh;
  }

  .section__item-card {
    padding: 4vw;
  }

  .section__item {
    min-height: fit-content;
  }

  .section__heading {
    margin-top: 4.5vw;
    font-size: 9vw;
  }

  .section__description {
    font-size: 4.5vw;
    margin: 7vw auto;
  }

  .item__body {
    justify-content: start;
  }

  .card__block {
    justify-content: start;
    flex-direction: column;
  }

  .card__block :not(:last-child) {
    margin: 0;
    margin-bottom: 2vw;
  }

  .card {
    height: auto;
  }

  .card img {
    max-width: 100%;
  }

  /* ------------  burger ------------ */

  .burger {
    position: relative;
    width: 32px;
    height: 32px;
    z-index: 6;
    cursor: pointer;
  }

  .burger span,
  .burger::before,
  .burger::after {
    left: 0;
    position: absolute;
    /* transform-origin: center; */
    height: 5px;
    width: 35px;
    transition: top 0.5s ease-in-out, bottom 0.5s ease-in-out, transform 0.5s ease-in-out;
    background-color: #fff;
  }

  .burger::before,
  .burger::after {
    content: "";
  }

  .burger::before {
    top: 0;
  }

  .burger::after {
    bottom: 0;
  }

  .burger span {
    top: 50%;
    transform: scale(1) translate(0, -50%);
  }

  .burger._active span {
    transform: scale(0) translate(0, -50%);
  }

  .burger._active::before {
    top: 50%;
    transform: translate(0, -50%) rotate(-45deg);
  }

  .burger._active::after {
    bottom: 50%;
    transform: translate(0, 50%) rotate(45deg);
  }

  /* ---------- action block ----------- */

  .action__block {
    height: 92vh;
  }

  .action__block h1 {
    font-size: 9vw;
    padding-left: 9vh;
  }

  .gift__list li {
    font-size: 6vw;
    padding-left: 6vh;
  }



  /* ---------- mobile slider ---------- */

  .swiper-wrapper {
    height: 42vh;
  }

  .image-frame img {
    height: auto;
    width: 100%;
  }

}
